* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

.president-component {
    background-color: rgb(97, 14, 14);
    width: 20vw;
    text-align: center;
}

.president--component-number {
    color: #ffffff;
    padding-top: 10px;
    font-size: 20px;
}

.president-component img {
    width: 50%;
    border-radius: 10px;
    margin: 10px 0 20px 0;
}

.president-component-name-and-years {
    background-color: burlywood;
    padding: 10px 0;
}

.president-component-expand-portion {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
}

.expand-icon {
    cursor: pointer;
}

.president-component-expand-portion-hidden-text {
    display: none;
}

#expanded-text {
    text-align: left;
    padding: 20px;
}